/* Reseta o estilo do body */
body {
  margin: 0px;
}

/* Reseta o estilo da li */
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Cada img vai ser display 
block e com width de 100%
para não estourar o seu contaier */
img {
  display: block;
  width: 100%;
}

/* O slide-wrapper tem a propriedade
overflow: hidden para que não gere uma
barra de rolagem já que a lista toda tem 
a largura maior que a tela  */
.slide-wrapper {
  overflow: hidden;
}

/* O "contaier" (div com class slide)
vai ter display: flex para que os elementos
fiquem alinhados em um fileira */
.slide {
  display: flex;
  height: 80vh;
}

/* Esse estilo serve para otimizar a
transformação do elementos do slide.
Essa propriedade notifica o navegador que 
o atributo "transform" vai mudar quando o 
mouse passar por cima do elemento */
.slide:hover {
  will-change: transform;
}

.slide li {
  /* Cada elemento da lista vai ter um 
  width de 80%, esse valor é descrito com
  "vw" que significa Virtual Width */
  width: 80vw;

  /* Os itens tem a propriedade flex-shrink: 0
  para não estourar o container  */
  flex-shrink: 0;

  /* Os itens não vão ter mais que 800px */
  /* max-width: 800px; */

  margin: 0 20px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

  /* Transforma os elementos que não estão 
  ativos para que fiquem um pouco menores e 
  opacos */
  opacity: 0.8;
  transform: scale(0.8);

  /* Suaviza o resing dos elementos 
  quando entram e saem de evidência na tela */
  transition: 0.4s;
}

/* Coloca o elemento ativo em evidência na tela */
.slide li.active {
  opacity: 1;
  transform: scale(1);
}

/* Alinha os elementos de navegação ao centro e 
coloca um pequena margem em relação aos slides */
[data-control='slide'] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

[data-control='slide'] li a {
  display: block;

  /* Transforma os elementos em círculos */
  height: 12px;
  width: 12px;
  border-radius: 50%;

  margin: 5px;
  background: #fb5;
}

[data-control='slide'] li.active a,
[data-control='slide'] li a:hover {
  background: #e54;
}

.custom-controls {
  display: flex;
  /* Se os elementos forem maiores que o
  container, eles vão quebrar a linha ao
  invés de estourar o container */
  flex-wrap: wrap;

  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.custom-controls li {
  /* Diminui a opaciddade e o tamanho dos
  itens que não estão selecionados */
  opacity: 0.8;
  transform: scale(0.8);

  /* Transforma os elementos em um círculo */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;

  margin: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}

/* ESTILO DOS BOTÕES DE NAVEGAÇÃO */

.arrow-nav {
  /* Coloca os itens um ao lado do outro
  com um espçao entre eles. */
  display: flex;
  justify-content: space-around;

  margin: 20px 0;
}

.arrow-nav button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
  width: 40px;
  height: 40px;

  /* Adiciona seta que aparece no botão para 
  indicar a navegação */
  background: #fb5 url('../img/arrow.svg') center center no-repeat;
}

/* Gira o botão em 180 graus para que 
a seta fique para o lado certo */
.arrow-nav button.prev {
  transform: rotate(180deg);
}
